*{
    margin:0px;
    padding:0px;
}
body{
    height:100%;
    background-image:url("blackjack_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    background-attachment: fixed;
}
#game-el{
    background-color: rgba(0, 0, 0, 0.411);
    height:100%;
    width:100%;
    padding-top: 2%;
    padding-bottom: 3.3%;
}

h1{
    color:rgb(228, 171, 26);
    font-family: 'Trebuchet MS';
    font-size:5em;
    text-align:center;
}
#message-el{
    color:rgb(197, 219, 197);
    font-size: 2.5em;
    margin:2% 0%;
    font-family: arial;
    text-align: center;
}
#card-el{
    margin: 1% 0%;
    color:white;
    font-size:2.5em;
}
#sum-el{
    margin: 1% 0%;
    color:white;
    font-size:2.5em;
    
}
button{
    background-color: green;
    color:white;
    border:none;
    margin:0 auto;
    align-items: center;
    font-size:30px;
    padding:15px;
    text-align:center;
    cursor: pointer;
}
#newcard-el:disabled{
    background-color: lightgreen;
    color:aliceblue;
}
#player-el{
    margin:2% 0%;
    font-size:38px;
    color:lightpink;
}
#startgame-el:disabled{
    background-color: lightgreen;
    color:aliceblue;
}
#money-el{
    background-color: rgb(228, 60, 38);
    color:white;
    border:none;
    margin:0 auto;
    align-items: center;
    font-size:30px;
    padding:15px;
    text-align:center;
    cursor: pointer;
}
#money-el::content,#money-el::active{
    background:blue;


}
#addmoney-el{
    background:whitesmoke;
    font-size:30px;
    padding:10px;
    text-align: center;
}

